<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 	<key>CLIENT_ID</key>
 	<string>566744608475-lft0v9557c5av50g7g2to0od7ha8t6ji.apps.googleusercontent.com</string>
 	<key>REVERSED_CLIENT_ID</key>
 	<string>com.googleusercontent.apps.566744608475-lft0v9557c5av50g7g2to0od7ha8t6ji</string>
 	<key>API_KEY</key>
 	<string>AIzaSyBEilmXmkir22xrLYgIO6Sf5b64x1DT5Vg</string>
 	<key>GCM_SENDER_ID</key>
 	<string>566744608475</string>
 	<key>PLIST_VERSION</key>
 	<string>1</string>
 	<key>BUNDLE_ID</key>
 	<string>artem.tikhonenko.Plannning</string>
 	<key>PROJECT_ID</key>
 	<string>plannning-ios</string>
 	<key>STORAGE_BUCKET</key>
 	<string>plannning-ios.appspot.com</string>
 	<key>IS_ADS_ENABLED</key>
 	<false></false>
 	<key>IS_ANALYTICS_ENABLED</key>
 	<false></false>
 	<key>IS_APPINVITE_ENABLED</key>
 	<true></true>
 	<key>IS_GCM_ENABLED</key>
 	<true></true>
 	<key>IS_SIGNIN_ENABLED</key>
 	<true></true>
 	<key>GOOGLE_APP_ID</key>
 	<string>1:566744608475:ios:fad96cc77319d268a7e6fe</string>
 </dict>
 </plist>
